node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
build.tar
node_modules.tar.gz

local.db
local.db-wal
local.db-shm




# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
# SQLite
*.db
